In [2]:
import pandas as pd
import csv
import os

In [3]:
#DEFINITIONS
BASE_DIR = '..'
PROCESSED_DIR = os.path.join(BASE_DIR, 'data', 'processed')
CENSUS_TRACTS_DIR = os.path.join(BASE_DIR, 'data', 'IBGE-setor')
CENSUS_TRACTS_DIR_AL = os.path.join(BASE_DIR, 'data', 'IBGE-setor','AL')

RANDOM_SEED = 7 # for reproducibility

UF = ['AL','BA','CE','DF','GO','MA','MG','MS','MT','PA','PB','PE','PI','PR','RN','RO','SE','SP','TO']

## 1. GENERATE DATASET CENSUS TRACTS

In [4]:
UF[0]

'AL'

In [5]:
df_UF_Basico = pd.read_csv(os.path.join(CENSUS_TRACTS_DIR_AL,'Basico_'+UF[0]+'.csv'),encoding = "ISO-8859-1", sep=";")
df_UF_Basico

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V004,V005,V006,V007,V008,V009,V010,V011,V012,Unnamed: 33
0,270010205000001,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,"3,71","633,74","1027296,86","715,51","1101608,13","348,69","483897,06","610,98","687991,4",NaN
1,270010205000002,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,"3,67","773,12","2557431,08","853,9","2756644,01","402,86","1034747,3",700,"1591282,25",NaN
2,270010205000003,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,"2,8","514,72","239644,04","591,93","229848,07","293,06","177168,93","519,13","196520,18",NaN
3,270010205000004,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,"2,59","503,38","216690,66","625,16","192592,07","303,83",168778,"576,76","162925,33",NaN
4,270010205000005,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,"6,34","304,49","62000,85","362,17","52815,26","178,1","56646,59","363,82","48128,51",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,"3,97","891,74","69703900,33","3232,58","249607314,97","312,06","22561438,91","2507,64","178577546,82",NaN
3720,270940010000005,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,"2,58","957,47","1030134,6","957,47","1030134,6","364,23","457128,06","718,06","652716,82",NaN
3721,270940010000006,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,"4,3","327,52","94380,86","374,3","90277,67","172,72","66641,51","350,78","72947,65",NaN
3722,270940010000007,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,"3,33","269,96","126729,97","570,94","95825,66","127,78","108005,27","571,5","230423,09",NaN
3723,270940010000008,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,"6,86","443,69","241250,59","554,61","240015,92","214,73","127907,31","488,51","157614,68",NaN

In [6]:
df_UF_Responsavel = pd.read_csv(os.path.join(CENSUS_TRACTS_DIR_AL,'ResponsavelRenda_'+UF[0]+'.csv'),encoding = "ISO-8859-1", sep=";")
df_UF_Responsavel

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V124,V125,V126,V127,V128,V129,V130,V131,V132,Unnamed: 134
0,270010205000001,1,32,176,45,7,10,7,1,0,...,5162,3800,13675,0,0,0,114,106,72686,NaN
1,270010205000002,1,22,109,42,12,12,1,0,1,...,6344,18640,0,0,0,0,111,105,70702,NaN
2,270010205000003,1,44,130,46,9,9,2,0,0,...,8905,11400,0,0,0,0,168,149,81689,NaN
3,270010205000004,5,10,34,11,4,3,0,0,0,...,3748,0,0,0,0,0,38,34,18130,NaN
4,270010205000005,8,94,121,9,3,0,0,0,0,...,0,0,0,0,0,0,171,136,43158,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,8,4,27,7,0,0,0,0,0,...,0,0,0,0,0,0,10,1,123,NaN
3720,270940010000005,5,2,10,2,1,3,1,0,0,...,0,2000,4000,0,0,0,3,3,6200,NaN
3721,270940010000006,5,23,29,3,0,1,0,0,0,...,0,2000,0,0,0,0,22,20,9070,NaN
3722,270940010000007,8,0,80,3,1,3,0,0,0,...,0,1800,0,0,0,0,38,24,13260,NaN
3723,270940010000008,5,6,32,4,0,1,1,0,0,...,0,0,0,0,0,0,21,20,8483,NaN

In [7]:
df_AL = df_UF_Basico[['Cod_setor',
 'Cod_Grandes Regiões',
 'Nome_Grande_Regiao',
 'Cod_UF',
 'Nome_da_UF ',
 'Cod_meso',
 'Nome_da_meso',
 'Cod_micro',
 'Nome_da_micro',
 'Cod_RM',
 'Nome_da_RM',
 'Cod_municipio',
 'Nome_do_municipio',
 'Cod_distrito',
 'Nome_do_distrito',
 'Cod_subdistrito',
 'Nome_do_subdistrito',
 'Cod_bairro',
 'Nome_do_bairro',
 'Situacao_setor',
 'Tipo_setor']]

In [8]:
df_AL

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,Cod_municipio,Nome_do_municipio,Cod_distrito,Nome_do_distrito,Cod_subdistrito,Nome_do_subdistrito,Cod_bairro,Nome_do_bairro,Situacao_setor,Tipo_setor
0,270010205000001,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,2700102,ÁGUA BRANCA,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0
1,270010205000002,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,2700102,ÁGUA BRANCA,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0
2,270010205000003,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,2700102,ÁGUA BRANCA,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0
3,270010205000004,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,2700102,ÁGUA BRANCA,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),5,0
4,270010205000005,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,2700102,ÁGUA BRANCA,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,2709400,VIÇOSA,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),8,0
3720,270940010000005,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,2709400,VIÇOSA,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0
3721,270940010000006,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,2709400,VIÇOSA,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0
3722,270940010000007,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,2709400,VIÇOSA,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),8,0
3723,270940010000008,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,2709400,VIÇOSA,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0

In [9]:
df_AL['Nome_do_municipio'].value_counts()

MACEIÓ                  1057
ARAPIRACA                232
PALMEIRA DOS ÍNDIOS      109
RIO LARGO                 82
UNIÃO DOS PALMARES        69
                        ...
SANTA LUZIA DO NORTE       7
FELIZ DESERTO              6
MAR VERMELHO               6
PALESTINA                  5
PINDOBA                    4
Name: Nome_do_municipio, Length: 102, dtype: int64

In [10]:
df_AL = pd.merge(df_AL, df_UF_Basico[['Cod_setor','V002']],
                        how="left", on=["Cod_setor", "Cod_setor"])

In [11]:
df_AL = pd.merge(df_AL, df_UF_Responsavel[['Cod_setor','V022']],
                        how="left", on=["Cod_setor", "Cod_setor"])

In [12]:
df_AL

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,Cod_distrito,Nome_do_distrito,Cod_subdistrito,Nome_do_subdistrito,Cod_bairro,Nome_do_bairro,Situacao_setor,Tipo_setor,V002,V022
0,270010205000001,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0,1188.0,199628
1,270010205000002,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0,886.0,171633
2,270010205000003,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0,1083.0,142063
3,270010205000004,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),5,0,265.0,38760
4,270010205000005,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),8,0,1244.0,82213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),8,0,565.0,129303
3720,270940010000005,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0,73.0,18192
3721,270940010000006,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0,255.0,20961
3722,270940010000007,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),8,0,687.0,49672
3723,270940010000008,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0,225.0,24403

In [13]:
df_AL.rename(columns={"V002": "Populacao", "V022": "Renda_Setor"})

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,Cod_distrito,Nome_do_distrito,Cod_subdistrito,Nome_do_subdistrito,Cod_bairro,Nome_do_bairro,Situacao_setor,Tipo_setor,Populacao,Renda_Setor
0,270010205000001,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0,1188.0,199628
1,270010205000002,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0,886.0,171633
2,270010205000003,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),1,0,1083.0,142063
3,270010205000004,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),5,0,265.0,38760
4,270010205000005,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,270010205,ÁGUA BRANCA,27001020500,ÁGUA BRANCA,2700102000,ÁGUA BRANCA (todos os setores),8,0,1244.0,82213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),8,0,565.0,129303
3720,270940010000005,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0,73.0,18192
3721,270940010000006,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0,255.0,20961
3722,270940010000007,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),8,0,687.0,49672
3723,270940010000008,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,270940010,ANEL,27094001000,ANEL,2709400000,VIÇOSA (todos os setores),5,0,225.0,24403

In [14]:
df_UF_Pessoa01 = pd.read_csv(os.path.join(CENSUS_TRACTS_DIR_AL,'Pessoa01_'+UF[0]+'.csv'),encoding = "ISO-8859-1", sep=";")
df_UF_Pessoa01

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V077,V078,V079,V080,V081,V082,V083,V084,V085,Unnamed: 87
0,270010205000001,1,829,3,11,16,12,17,25,22,...,4,203,166,307,1,35,21,33,1,NaN
1,270010205000002,1,669,1,9,11,16,20,15,23,...,6,170,120,254,5,26,9,23,0,NaN
2,270010205000003,1,826,5,11,15,20,21,23,20,...,5,229,164,309,2,18,9,16,3,NaN
3,270010205000004,5,192,0,1,3,3,5,4,3,...,3,50,38,80,1,7,0,4,0,NaN
4,270010205000005,8,696,8,10,12,25,23,25,31,...,3,120,104,331,3,20,11,28,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,8,220,1,0,3,2,8,2,8,...,0,39,49,106,1,6,1,4,0,NaN
3720,270940010000005,5,51,0,0,2,0,0,1,0,...,2,14,11,17,0,2,0,2,0,NaN
3721,270940010000006,5,166,0,3,3,6,6,5,7,...,1,36,33,69,1,4,0,5,0,NaN
3722,270940010000007,8,494,0,3,8,11,5,14,13,...,2,128,113,194,2,19,3,6,0,NaN
3723,270940010000008,5,134,0,0,1,2,5,3,4,...,0,30,19,65,1,5,1,5,0,NaN

In [15]:
df_UF_Pessoa11 = pd.read_csv(os.path.join(CENSUS_TRACTS_DIR_AL,'Pessoa11_'+UF[0]+'.csv'),encoding = "ISO-8859-1", sep=";")
df_UF_Pessoa11

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V125,V126,V127,V128,V129,V130,V131,V132,V133,V134
0,270010205000001,1,590,588,201,52,183,67,10,8,...,1,0,0,0,0,0,0,0,0,0
1,270010205000002,1,434,434,111,53,160,48,5,7,...,0,0,0,0,0,0,0,0,0,0
2,270010205000003,1,523,523,108,102,218,47,4,4,...,0,0,0,0,0,0,0,0,0,0
3,270010205000004,5,130,130,39,12,43,17,2,2,...,1,0,0,0,0,0,0,0,0,0
4,270010205000005,8,624,624,99,127,265,70,3,7,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,8,289,289,135,3,106,13,7,4,...,0,0,0,1,0,0,0,0,0,0
3720,270940010000005,5,38,38,16,1,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3721,270940010000006,5,128,128,42,8,43,19,3,3,...,0,0,0,0,0,0,0,0,0,0
3722,270940010000007,8,348,348,146,7,114,47,1,5,...,0,0,0,0,0,0,0,0,0,0
3723,270940010000008,5,115,115,34,6,33,23,0,2,...,1,0,0,1,0,0,0,0,0,0

In [16]:
df_AL = pd.merge(df_AL, df_UF_Pessoa11[['Cod_setor','V022','V035','V036','V037','V038','V039','V040','V041','V042','V043','V044','V045','V046','V047','V048','V049','V050','V051','V052','V053','V054','V055','V056','V057','V058','V059','V060','V061','V062','V063','V064','V065','V066','V067','V068','V069','V070','V071','V072','V073','V074','V075','V076','V077','V078','V079','V080','V081','V082','V083','V084','V085','V086','V087','V088','V089','V090','V091','V092','V093','V094','V095','V096','V097','V098','V099','V100','V101','V102','V103','V104','V105','V106','V107','V108','V109','V110','V111','V112','V113','V114','V115','V116','V117','V118','V119','V120','V121','V122','V123','V124','V125','V126','V127','V128','V129','V130','V131','V132','V133','V134']],
                        how="left", on=["Cod_setor", "Cod_setor"])

In [17]:
df_AL

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V125,V126,V127,V128,V129,V130,V131,V132,V133,V134
0,270010205000001,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,1,0,0,0,0,0,0,0,0,0
1,270010205000002,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,0,0,0,0,0,0,0,0,0,0
2,270010205000003,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,0,0,0,0,0,0,0,0,0,0
3,270010205000004,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,1,0,0,0,0,0,0,0,0,0
4,270010205000005,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,0,1,0,0,0,0,0,0
3720,270940010000005,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,0,0,0,0,0,0,0,0
3721,270940010000006,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,0,0,0,0,0,0,0,0
3722,270940010000007,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,0,0,0,0,0,0,0,0
3723,270940010000008,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,1,0,0,1,0,0,0,0,0,0

In [18]:
df_AL.rename(columns={'V022': "Populacao_-1a",'V035': "Populacao_1a",'V036': "Populacao_2a",'V037': "Populacao_3a",'V038': "Populacao_4a",'V039': "Populacao_5a",'V040': "Populacao_6a",'V041': "Populacao_7a",'V042': "Populacao_8a",'V043': "Populacao_9a",'V044': "Populacao_10a",'V045': "Populacao_11a",'V046': "Populacao_12a",'V047': "Populacao_13a",'V048': "Populacao_14a",'V049': "Populacao_15a",'V050': "Populacao_16a",'V051': "Populacao_17a",'V052': "Populacao_18a",'V053': "Populacao_19a",'V054': "Populacao_20a",'V055': "Populacao_21a",'V056': "Populacao_22a",'V057': "Populacao_23a",'V058': "Populacao_24a",'V059': "Populacao_25a",'V060': "Populacao_26a",'V061': "Populacao_27a",'V062': "Populacao_28a",'V063': "Populacao_29a",'V064': "Populacao_30a",'V065': "Populacao_31a",'V066': "Populacao_32a",'V067': "Populacao_33a",'V068': "Populacao_34a",'V069': "Populacao_35a",'V070': "Populacao_36a",'V071': "Populacao_37a",'V072': "Populacao_38a",'V073': "Populacao_39a",'V074': "Populacao_40a",'V075': "Populacao_41a",'V076': "Populacao_42a",'V077': "Populacao_43a",'V078': "Populacao_44a",'V079': "Populacao_45a",'V080': "Populacao_46a",'V081': "Populacao_47a",'V082': "Populacao_48a",'V083': "Populacao_49a",'V084': "Populacao_50a",'V085': "Populacao_51a",'V086': "Populacao_52a",'V087': "Populacao_53a",'V088': "Populacao_54a",'V089': "Populacao_55a",'V090': "Populacao_56a",'V091': "Populacao_57a",'V092': "Populacao_58a",'V093': "Populacao_59a",'V094': "Populacao_60a",'V095': "Populacao_61a",'V096': "Populacao_62a",'V097': "Populacao_63a",'V098': "Populacao_64a",'V099': "Populacao_65a",'V100': "Populacao_66a",'V101': "Populacao_67a",'V102': "Populacao_68a",'V103': "Populacao_69a",'V104': "Populacao_70a",'V105': "Populacao_71a",'V106': "Populacao_72a",'V107': "Populacao_73a",'V108': "Populacao_74a",'V109': "Populacao_75a",'V110': "Populacao_76a",'V111': "Populacao_77a",'V112': "Populacao_78a",'V113': "Populacao_79a",'V114': "Populacao_80a",'V115': "Populacao_81a",'V116': "Populacao_82a",'V117': "Populacao_83a",'V118': "Populacao_84a",'V119': "Populacao_85a",'V120': "Populacao_86a",'V121': "Populacao_87a",'V122': "Populacao_88a",'V123': "Populacao_89a",'V124': "Populacao_90a",'V125': "Populacao_91a",'V126': "Populacao_92a",'V127': "Populacao_93a",'V128': "Populacao_94a",'V129': "Populacao_95a",'V130': "Populacao_96a",'V131': "Populacao_97a",'V132': "Populacao_98a",'V133': "Populacao_99a",'V134': "Populacao_100a"})

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,Populacao_91a,Populacao_92a,Populacao_93a,Populacao_94a,Populacao_95a,Populacao_96a,Populacao_97a,Populacao_98a,Populacao_99a,Populacao_100a
0,270010205000001,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,1,0,0,0,0,0,0,0,0,0
1,270010205000002,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,0,0,0,0,0,0,0,0,0,0
2,270010205000003,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,0,0,0,0,0,0,0,0,0,0
3,270010205000004,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,1,0,0,0,0,0,0,0,0,0
4,270010205000005,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,0,1,0,0,0,0,0,0
3720,270940010000005,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,0,0,0,0,0,0,0,0
3721,270940010000006,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,0,0,0,0,0,0,0,0
3722,270940010000007,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,0,0,0,0,0,0,0,0
3723,270940010000008,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,1,0,0,1,0,0,0,0,0,0

In [19]:
df_AL = pd.merge(df_AL, df_UF_Pessoa01[['Cod_setor','V001','V002','V003','V004','V005','V006','V007','V008','V009','V010','V011','V012','V013','V014','V015','V016','V017','V018','V019','V020','V021','V022','V023','V024','V025','V026','V027','V028','V029','V030','V031','V032','V033','V034','V035','V036','V037','V038','V039','V040','V041','V042','V043','V044','V045','V046','V047','V048','V049','V050','V051','V052','V053','V054','V055','V056','V057','V058','V059','V060','V061','V062','V063','V064','V065','V066','V067','V068','V069']],
                        how="left", on=["Cod_setor", "Cod_setor"])

In [20]:
df_AL.rename(columns={'V001': "Alfabetismo_-5a",'V002': "Alfabetismo_5a",'V003': "Alfabetismo_6a",'V004': "Alfabetismo_7a",'V005': "Alfabetismo_8a",'V006': "Alfabetismo_9a",'V007': "Alfabetismo_10a",'V008': "Alfabetismo_11a",'V009': "Alfabetismo_12a",'V010': "Alfabetismo_13a",'V011': "Alfabetismo_14a",'V012': "Alfabetismo_15a",'V013': "Alfabetismo_16a",'V014': "Alfabetismo_17a",'V015': "Alfabetismo_18a",'V016': "Alfabetismo_19a",'V017': "Alfabetismo_20a",'V018': "Alfabetismo_21a",'V019': "Alfabetismo_22a",'V020': "Alfabetismo_23a",'V021': "Alfabetismo_24a",'V022': "Alfabetismo_25a",'V023': "Alfabetismo_26a",'V024': "Alfabetismo_27a",'V025': "Alfabetismo_28a",'V026': "Alfabetismo_29a",'V027': "Alfabetismo_30a",'V028': "Alfabetismo_31a",'V029': "Alfabetismo_32a",'V030': "Alfabetismo_33a",'V031': "Alfabetismo_34a",'V032': "Alfabetismo_35a",'V033': "Alfabetismo_36a",'V034': "Alfabetismo_37a",'V035': "Alfabetismo_38a",'V036': "Alfabetismo_39a",'V037': "Alfabetismo_40a",'V038': "Alfabetismo_41a",'V039': "Alfabetismo_42a",'V040': "Alfabetismo_43a",'V041': "Alfabetismo_44a",'V042': "Alfabetismo_45a",'V043': "Alfabetismo_46a",'V044': "Alfabetismo_47a",'V045': "Alfabetismo_48a",'V046': "Alfabetismo_49a",'V047': "Alfabetismo_50a",'V048': "Alfabetismo_51a",'V049': "Alfabetismo_52a",'V050': "Alfabetismo_53a",'V051': "Alfabetismo_54a",'V052': "Alfabetismo_55a",'V053': "Alfabetismo_56a",'V054': "Alfabetismo_57a",'V055': "Alfabetismo_58a",'V056': "Alfabetismo_59a",'V057': "Alfabetismo_60a",'V058': "Alfabetismo_61a",'V059': "Alfabetismo_62a",'V060': "Alfabetismo_63a",'V061': "Alfabetismo_64a",'V062': "Alfabetismo_65a",'V063': "Alfabetismo_66a",'V064': "Alfabetismo_67a",'V065': "Alfabetismo_68a",'V066': "Alfabetismo_69a",'V067': "Alfabetismo_70-79a",'V068': "Alfabetismo_80+a",'V069': "Alfabetismo_Resp"})

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V060_y,V061_y,V062_y,V063_y,V064_y,V065_y,V066_y,V067_y,V068_y,V069_y
0,270010205000001,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,2,1,1,5,3,4,0,8,1,3
1,270010205000002,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,3,2,3,4,3,4,1,3,2,2
2,270010205000003,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,4,1,2,4,2,0,2,0,2,3
3,270010205000004,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,3,1,3,3,2,0,3,2,0,0
4,270010205000005,2,Região Nordeste,27,Alagoas,2701,Sertão Alagoano,27001,Serrana do Sertão Alagoano,0,...,3,4,5,0,2,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,270940010000004,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,2,0,1,0,1,0,0,0,0
3720,270940010000005,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,0,0,1,0,0,0,0,0,1,0
3721,270940010000006,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,1,0,0,2,0,0,0,0,0,0
3722,270940010000007,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,1,3,1,0,3,3,4,0,1,1
3723,270940010000008,2,Região Nordeste,27,Alagoas,2703,Leste Alagoano,27008,Serrana dos Quilombos,0,...,1,0,2,1,0,0,0,2,0,0